body{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}
.logo{
    display: inline !important;
}
h1,h3{
    padding-top: 25px;
    padding-bottom: 20px;
}
.com{
    color: rgb(5, 206, 172) !important;
}
.cc{
    color: rgb(192, 13, 49) !important;
}
.Inlet{
    color: rgb(87, 10, 212) !important;
}
.ct{
    color: rgb(104, 0, 0) !important;
}
.pt{
    color: green !important;
}

footer{
    color: white;
    padding: 20px;
    margin-top: 30px;
}
footer a{
    text-decoration: none !important;
    color: white !important;
    transition: all 200ms ease-in-out;
}
@media (max-width: 1000px) {
    .heading-img{
        display: none;
    }
    .heading-title{
        height: 100px;
    }
    p{
        text-align: justify;
    }
 img{
    width: 90%;
 }
 .footer1{
    display: none;
 }
.footer2{
    display: block;
    margin: 0 auto;
}
    
    }