img{
    display: block;
    margin: 0 auto;
}
h1,h3{
    padding-top: 25px;
    padding-bottom: 20px;
}
.com{
    color: rgb(5, 206, 172) !important;
}
.cc{
    color: rgb(192, 13, 49) !important;
}
.Inlet{
    color: rgb(87, 10, 212) !important;
}
.ct{
    color: rgb(104, 0, 0) !important;
}