body{
    text-align: center;
}
.texts{
    padding: 20px;
}
.headings{
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(0, 63, 71);
}
.button-1{
    border: 1px rgb(17, 123, 155) solid;
    border-radius: 10px;
    display: block;
    margin:30px auto;
    padding:5px 7px;
    background-color: rgb(17, 123, 155);
    color: white;
    font-size: 20px;
    transition: all 200ms ease-in-out;
}
.button-1:hover{
    background-color: white;
    color:rgb(17, 123, 155) ;
}
.tag-buttons{
    border: none;
    border-bottom: 1px silver solid;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:rgb(4, 92, 119) ;
    font-size: 18px;
}

.turbine-image{
    z-index: -1;
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
}
.turbine-item-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
}
.tags{
    position: absolute;
    z-index: 1;
    bottom: auto;
    right: auto;
    transition: all 0.2s ease-in-out;
    padding: 10px 0 0px;
}
.tags:hover{
    transform: scale(1.05);
    color: rgb(51, 51, 51);
    cursor: pointer;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
footer{
    border-top: 1px silver solid;
    padding: 20px;
    text-align: center;
}





/* Basic training page-------------------------*/
.basic-training-buttons{
    padding: 5px;
    font-size: 12px;
    height: 30px;
    margin-top: 5px;
    border: 1px silver solid;
    border-radius: 10px;
    font-weight: 500;
}

.underline-hover {
    position: relative;
    text-decoration: none !important;
  }
  
  .underline-hover:hover {
    color: #5e5e5e;
  }
  
  .underline-hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(71, 69, 69, 0), rgb(26, 1, 1));
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .underline-hover:hover::before {
    transform: scaleX(1);
  }





.layout{
    font-size: 25px;
    color: rgb(114, 114, 3);
    padding-top: 30px;
}
.layout-pics{
    display: block;
    margin: 0 auto;
}


footer{
    color: white;
    margin-top: 30px;
}
footer a{
    text-decoration: none !important;
    color: white !important;
    transition: all 200ms ease-in-out;
}
